html {
  font-family: 'Roboto', sans-serif;
}

html, body, h1, p, div, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#main {
  display: flex;
  flex-direction: column;
}

.content {
  width: 1000px;
}

#header{
  background-color: #1F2937;
  color: white;
  padding-bottom: 48px;
}

#header-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

#nav-logo {
  font-size: 24px;
  font-weight: bold;
}

#nav-links {
  display: flex;
  column-gap: 24px;
  font-size: 18px;
  color: #E5E7EB
}

#nav-links li a:visited {
  color: #E5E7EB
}

.subtext {
  color: #E5E7EB;
}

#hero-container {
  display: flex;
  column-gap: 16px;
}

#hero-content>h1 {
  font-size: 48px;
} 

#hero-content>p {
  padding: 0;
  font-size: 20px;
  margin: 12px 0;
}

.sign-up {
  background-color: #3882F6;
  font-size: 1.1rem;
  color: white;
  padding: 10px 32px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
}

#hero-image {
  display: flex;
  min-width: 500px;
  background-color: rgb(119, 118, 118);
  align-items: center;
  justify-content: center;
}

#info-content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 48px;
}

#info-content h1 {
  align-self: center;
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin-bottom: 48px;
}

#info-list {
  display: flex;
  color: grey;
  justify-content: space-around;
}

.info-item {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
} 

.info-image {
  width: 170px;
  height: 170px;
  border: 4px solid #3882F6;
  border-radius: 16px;
  margin-bottom: 8px;
}

